
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title></title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/dashboard.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/static/css/sb-admin-2.css" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Product Portfolio</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/settings">Settings</a></li>
              <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          {% block leftnav %}
          <div class="col-sm-3 col-md-2 navbar-default sidebar" role="navigation">
            <ul class="nav nav-sidebar ">
              <li ><a href="/{{account_id}}/{{dataflow_id}}">Dashboard <span class="sr-only">(current)</span></a></li>
              <li><a href="/{{account_id}}/{{dataflow_id}}/products">Products</a></li>
              <li><a href="/{{account_id}}/{{dataflow_id}}/services?domain=dp">DP Services</a>

              </li>
              <li><a href="/{{account_id}}/{{dataflow_id}}/services?domain=indus">Indus Services</a>

              </li>
              <li><a href="/{{account_id}}/{{dataflow_id}}/servicesKeyMap">Key values mapping</a></li>
              <li><a href="/{{account_id}}/{{dataflow_id}}/processes">Processes</a></li>
              <li><a href="/{{account_id}}/{{dataflow_id}}/matrix">Matrix</a>
                <ul class="nav-secondary nav-list" >
                  <li><a href="/{{account_id}}/{{dataflow_id}}/keysSimul">Keys Simulation</a></li>
                </ul>
              </li>
              <li><a href="/{{account_id}}/{{dataflow_id}}/items">Items</a></li>

              <li ><a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
              <ul class="nav-secondary nav-list" >
                <li><a href="/{{account_id}}/{{dataflow_id}}/serviceTypes">Service Types</a></li>
                <li><a href="/{{account_id}}/{{dataflow_id}}/settingsInputKeys">Input Keys Names</a></li>
                <li><a href="/{{account_id}}/{{dataflow_id}}/settingsMapServicesKeys">Service Type to KeyNames Map</a></li>
                <li><a href="/{{account_id}}/{{dataflow_id}}/settingsItemTypes">Item types</a></li>


              </ul>
            </li>
            </ul>
          </div>
          {% endblock leftnav %}
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block dataflowheader %}
            <div class="row">
            	<div class="col-lg-12">
            		<h1 class="page-header"><span class="label label-default">{{account_id}} - {{dataflow_id}}</span> <span class="label label-default">Version 1</span></h1>
            	</div>
            	<!-- /.col-lg-12 -->
            </div>
            {% endblock dataflowheader %}
           {% block content %}



           {% endblock content %}
         </div>
       </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  </html>
