{% extends "base2.html" %}
{% block content %}




<h1>Dashboard <span class="label label-default">{{account_id}} - {{dataflow_id}}</span> <span class="label label-default">Version 1</span></h1>

<dl class="dl-horizontal">
  <dt>Account</dt><dd>NATIXIS</dd>
	<dt>Dataflow</dt><dd>CNCE CARD</dd>
	<dt>Version</dt><dd>1</dd>
	<dt>DP profile</dt><dd><span class="label label-danger">Please configure</span></dd>
	<dt>Indus services types</dt><dd><span class="label label-danger">Please configure</span></dd>
	<dt>Input keys names</dt><dd><span class="label label-danger">Please configure</span></dd>
	<dt>Map Service Types to key names</dt><dd><span class="label label-danger">Please configure</span></dd>
	<dt>Indus services</dt><dd><span class="label label-danger">Please configure</span></dd>

</dl>









{% endblock content %}
