{% extends "base2.html" %}
{% block content %}




<h1>Dashboard</h1>

<dl class="dl-horizontal">
  <dt>Account</dt><dd>{{account_id}}</dd>
	<dt>Dataflow</dt><dd>{{dataflow_id}}</dd>
	<dt>Version</dt><dd>1</dd>
	<dt>DP profile</dt><dd><span class="label label-danger">Please configure</span></dd>
  <dt>DP services</dt><dd><span class="label label-danger">Please configure</span></dd>
	<dt>Indus services types</dt><dd><span class="label label-danger">Please configure</span></dd>
	<dt>Input keys names</dt><dd><span class="label label-danger">Please configure</span></dd>
	<dt>Map Service Types to key names</dt><dd><span class="label label-danger">Please configure</span></dd>
	<dt>Indus services</dt><dd><span class="label label-danger">Please configure</span></dd>
  <dt>Items</dt><dd><span class="label label-danger">Please configure</span></dd>

</dl>









{% endblock content %}
