{% extends "base2.html" %}
{% import 'forms.html' as forms %}
{% block content %}


<h1>Full Product description</h1>

<div class="col-md-6">
	<h2>BOM</h2>
	<div class="panel panel-default">
		<table class="table table-striped">
			<tbody>
				{% for item in consumables %}

				<tr>
					<td>{{item.get().kind}}</td>
					<td>{{item.get().value}}</td>
					<td>{{item.get().site}}</td>
				</tr>

				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

TODO:
* List of availalbe processes. Default process.
* Process is defined by: A site, A list of services, A machine type, A defaultness






{% endblock content %}
