{% extends "base2.html" %}
{% import 'forms.html' as forms %}
{% block content %}



<h1 class="page-header">Processes</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Reference</th>
			<th>Sites</th>
			{% for serviceType in serviceTypes %}
			<th>{{serviceType.get().name}}</th>
			{% endfor %}
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for process in processes %}
		<tr>
			<th scope="row"><a href="/{{account_id}}/{{dataflow_id}}/processes/{{process.key.id()}}">{{process.reference}}</a></th>
			<td>{{process.sites}}</td>
			{% set i = 0 %}
			{% for serviceType in serviceTypes %}
			{% if process.services[i] %}
			<td><a href="/{{account_id}}/{{dataflow_id}}/services/{{process.services[i].get().key.id()}}">{{process.services[i].get().reference}}</a></td>
			{% else %}
			<td>None</td>
			{% endif %}
			{% set i = i + 1 %}
			{% endfor %}
			<td>
				<form role="form-inline" action="/{{account_id}}/{{dataflow_id}}/processes" method="post">
					{{ forms.submit_button('Delete', 'btn-xs') }}
					{{ forms.input('', 'process_id', value=process.key.id(), type='hidden') }}
				</form>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<form class="form-inline" role="form" action="/{{account_id}}/{{dataflow_id}}/processes" method="post">
	{{ forms.input('', 'reference', value='', type='text') }}
	{{ forms.submit_button('Add') }}
</form>



{% endblock content %}
