{% extends "base2.html" %}
{% import 'forms.html' as forms %}
{% block content %}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Product {{product.reference}}</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>



<h4>Items</h4>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Kind</th>
			<th>Name</th>
			<th>Value</th>
			<th>Site</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for properti in product.properties %}
		<tr>
			<th scope="row">{{properti.get().kind}}</th>
			<td>{{properti.get().name}}</td>
			<td>{{properti.get().value}}</td>
			<td>{{properti.get().site}}</td>
			<td>
				<form role="form-inline" action="/{{account_id}}/{{dataflow_id}}/products/{{product.key.id()}}" method="post">
					{{ forms.submit_button('Delete', 'btn-xs') }}
					{{ forms.input('', 'type', value='deleteProperty', type='hidden') }}
					{{ forms.input('', 'id', value=properti.get().key.id(), type='hidden') }}
				</form>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<form class="form-inline" role="form" action="/{{account_id}}/{{dataflow_id}}/products/{{product.key.id()}}" method="post">
	{{ forms.select_2('Site', 'item', itemsList) }}
	{{ forms.input('', 'type', value='properties', type='hidden') }}
	{{ forms.submit_button('Add') }}
</form>


<h4>Input Keys</h4>


<table class="table table-striped">
	<thead>
		<tr>
			{% for inputKeysName in inputKeysNames %}
			<th>{{inputKeysName}}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for inputKey in product.inputKeys %}
			<td>
				{{ forms.input('', ref, value=inputKey, type='text') }}
			</td>
			{% endfor %}
		</tr>
	</tbody>
</table>
<form class="form-inline" role="form" action="/{{account_id}}/{{dataflow_id}}/products/{{product.key.id()}}" method="post">
	{{ forms.submit_button('Save') }}
</form>









	{% endblock content %}
