{% extends "base2.html" %}
{% import 'forms.html' as forms %}
{% block content %}


<h2>Products</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Reference</th>
			<th>Order Item</th>
			<th>input Key</th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
		<tr>
			<th scope="row"><a href="/{{account_id}}/{{dataflow_id}}/products/{{product.key.id()}}">{{product.reference}}</a></th>
			<td>{{product.orderItem}}</a></td>
			<td>
				<form role="form-inline" action="/{{account_id}}/{{dataflow_id}}/products" method="post">
					{{ forms.submit_button('Delete', 'btn-xs') }}
					{{ forms.input('', 'process_id', value=product.key.id(), type='hidden') }}
				</form>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<form class="form-inline" role="form" action="/{{account_id}}/{{dataflow_id}}/products" method="post">
				<td>{{ forms.input('', 'reference', value='', type='text') }}</td>
				<td>{{ forms.input('', 'orderItem', value='', type='text') }}</td>
				<td>{{ forms.submit_button('Add') }}</td>
			</form>
		</tr>
	</tbody>
</table>







{% endblock content %}
