{% extends "base2.html" %}
{% import 'forms.html' as forms %}
{% block content %}



<h1>Settings</h1>

<h3>Service type</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Type</th>
		</tr>
	</thead>
	<tbody>
		{% for serviceType in serviceTypes %}
		<tr>
			<th scope="row">{{serviceType.get().name}}</a></th>
			<td>
				<form role="form-inline" action="/{{account_id}}/{{dataflow_id}}/serviceTypes" method="post">
					{{ forms.submit_button('Delete', 'btn-xs') }}
					{{ forms.input('', 'id', value=serviceType.get().key.id(), type='hidden') }}
				</form>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<form class="form-inline" role="form" action="/{{account_id}}/{{dataflow_id}}/serviceTypes" method="post">
				<td>{{ forms.input('', 'reference', value='', type='text') }}</td>
				<td>{{ forms.submit_button('Add') }}</td>
			</form>
		</tr>
	</tbody>
</table>







{% endblock content %}
