{% extends "base2.html" %}
{% import 'forms.html' as forms %}
{% block leftnav %}
{% endblock leftnav %}
{% block dataflowheader %}
{% endblock dataflowheader %}

{% block content %}

<h1>Settings</h1>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">Accounts</div>

			<!-- List group -->
			<ul class="list-group">
				{% for account in accounts %}
				<li class="list-group-item">{{account.reference}}</li>
				{% endfor %}
			</ul>
		</div>




		<form class="form-inline" role="form" action="/settings" method="post">
			{{ forms.input('', 'type', value='account', type='hidden') }}
			<td>{{ forms.input('', 'account', value='', type='text') }}</td>
			<td>{{ forms.submit_button('Add account') }}</td>
		</form>
	</div>



	<div class="col-md-6">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">Dataflows</div>

			<!-- List group -->
			<ul class="list-group">
				{% for dataflow in dataflows %}
				<li class="list-group-item">{{dataflow.reference}}</li>
				{% endfor %}
			</ul>
		</div>



		<form class="form-inline" role="form" action="/settings" method="post">
			{{ forms.input('', 'type', value='dataflow', type='hidden') }}
			<td>{{ forms.select('', 'account', accountList, accountList[0]) }}</td>
			<td>{{ forms.input('', 'dataflow', value='', type='text') }}</td>
			<td>{{ forms.submit_button('Add dataflow') }}</td>
		</form>

	</div>
</div>






{% endblock content %}
