{% extends "base2.html" %}
{% import 'forms.html' as forms %}
{% block content %}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Settings <span class="label label-default">NATIXIS - CNCE CARD</span> <span class="label label-default">Version 1</span></h1>
	</div>
	<!-- /.col-lg-12 -->
</div>




<h3>Input Keys</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		{% for inputKey in inputKeys %}
		<tr>
			<th scope="row">{{inputKey}}</a></th>
			<td>
				<form role="form-inline" action="/{{account_id}}/{{dataflow_id}}/settingsInputKeys" method="post">
					{{ forms.submit_button('Delete', 'btn-xs') }}
					{{ forms.input('', 'inputKey', value=inputKey, type='hidden') }}
				</form>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<form class="form-inline" role="form" action="/{{account_id}}/{{dataflow_id}}/settingsInputKeys" method="post">
				<td>{{ forms.input('', 'reference', value='', type='text') }}</td>
				<td>{{ forms.submit_button('Add') }}</td>
			</form>
		</tr>
	</tbody>
</table>







{% endblock content %}
